.typing-wrapper {
  font-size: clamp(3rem, 9vw, 5rem);
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cursor {
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (min-width: 900px) {
  .typing-wrapper {
    font-size: clamp(4rem, 10vw, 14rem);  }
}
