.typing-wrapper {
  display: inline-block;
  min-height: 11rem;
  width: 11ch;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  padding: 0 0.5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}

.typing-wrapper p {
  margin: 0;
  min-height: 1em;
}


.cursor {
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (min-width: 900px) {
  .typing-wrapper {
    justify-content: start;
    font-size: 10rem;
    text-align: left;
  }
}
