:host {
  width: 100%;
}

.card-wrapper {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  background: var(--contrast-background);
}

.card-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.mini-screenshots {
  height: 12rem;
  width: 17rem;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  object-fit: cover;
}

.mini-screenshots:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.screen-shots-button {
  border: none;
}

.collapse-button {
  top: 1%;
  right: 1%;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: pre-line;
}

p.label {
  font-weight: bold;
}

p.label span {
  font-weight: normal;
}

p.label a {
  font-weight: normal;
}

.hr-project {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 95%;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid var(--contrast-background);
  border-radius: 0.5rem;
  color: var(--contrast-card-text);
}


