@use '../../../../src/global-styles/styles' as global;
@use "sass:map";

.switcher {
  --switcher-width: 3.125rem;
  --switcher-height: 1.56rem;
  position: relative;
  display: inline-block;
  width: var(--switcher-width);
  height: var(--switcher-height);
  background: var(--contrast-background);
  border-radius: 0.8rem;
  cursor: pointer;
}

.switcher input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  left: 4%;
  top: 8%;
  width: 1.31rem;
  height: 1.31rem;
  background: var(--main-background);
  border-radius: 50%;
  transition: 0.3s;
}

.switcher input:checked + .slider {
  transform: translateX(25px);
}
