.main-page-wrapper {
  height: 95%;
  justify-content: space-between;
  align-items: center;
}

.text-wrapper {
  width: 30%;
  height: 100%;
  font-size: 0.9rem;
  padding: 2rem;
}

.text-wrapper p {
  margin: 0;
  text-align: justify;
  line-height: 1.8;
}

.biggest-letter {
  float: left;
  font-size: 5rem;
  line-height: 0.9;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

@media(width < 900px) {
  .main-page-wrapper {
    height: 80%;
    flex-direction: column;
  }

  .text-wrapper {
    height: 60%;
    width: 100%;
    text-align: center;
  }
}
