@use '../../../../src/global-styles/styles.scss' as global;
@use 'sass:map';

.header-wrapper {
  height: 4rem;
  color: var(--text-color);
}

.burger-button {
  height: 2.75rem;
  width: 2.75rem;
  border: var(--border);
  border-radius: 0.25rem;
  background: var(--contrast-background);
}

.burger-icon {
  color: var(--contrast-text-color);
}

.burger-button:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.08);
}

.burger-button:hover.list-icon {
  transition: 0.2s ease-in-out;
  transform: scale(1.08);
  color: var(--contrast-text-color);
}

.header-list-wrapper {
  width: 15rem;
  position: absolute;
  top: 110%;
  right: 0.5%;
  background: var(--contrast-background);
  height: auto;
  overflow-y: auto;
  border: var(--border);
  border-radius: 0.25rem;
}

.menu-buttons {
  background: none;
  color: var(--contrast-text-color);
  border: none;
  border-bottom: 1px solid var(--contrast-border);
  font-size: 1rem;
}

.lang-list-wrapper {
  width: 9rem;
  position: absolute;
  top: 110%;
  right: 15%;
  background: var(--contrast-background);
  height: auto;
  overflow-y: auto;
  border: none;
  border-radius: 0.25rem;
}

.lang-button {
  text-align: center;
  background: var(--background);
  color: var(--contrast-text-color);
  height: 2.75rem;
  width: 8rem;
  border: none;
  border-radius: 0.15rem;
}

.lang-button-setup {
  height: 2.75rem;
  width: 8rem;
  border: none;
  background: none;
  color: var(--text-color);
}

.lang-icon {
  height: auto;
  width: 1.5rem;
}

@media(width < 900px) {
  .header-list-wrapper {
    width: 20rem;
  }
}
