.header-wrapper {
  height: 4rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 1rem;
  padding-right: 1rem;
}

.burger-button {
  height: 2.75rem;
  width: 2.75rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  background: var(--contrast-background);
}

.burger-icon {
  color: var(--contrast-text-color);
}

.burger-button:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.08);
}

.burger-button:hover.list-icon {
  transition: 0.2s ease-in-out;
  transform: scale(1.08);
  color: var(--contrast-text-color);
}

.header-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  width: 18rem;
  right: 0.5%;
  background: var(--contrast-background);
  border: var(--border);
  border-radius: 0.25rem;
  transform: translateY(-10px);
  z-index: 1000;
}

.header-list-wrapper.open {
  transform: translateY(0);
  max-height: 500px;
}

.menu-buttons {
  width: 90%;
  background: none;
  color: var(--contrast-text-color);
  border: none;
  border-bottom: 1px solid var(--contrast-border);
  font-size: 1rem;
}

.lang-list-wrapper {
  width: 9rem;
  right: 40%;
  background: var(--contrast-background);
  border-radius: 0.25rem;
  transform-origin: top right;
  transform: scaleY(0);
}

.lang-list-wrapper.open {
  transform: scaleY(1);
  max-height: 300px;
}

.lang-button {
  text-align: center;
  background: transparent;
  color: var(--contrast-text-color);
  height: 2.75rem;
  width: 8rem;
  border: none;
  border-radius: 0.15rem;
  font-size: 1rem;
}

.lang-button-setup {
  height: 2.75rem;
  width: 8rem;
  border: none;
  background: none;
  color: var(--text-color);
  font-size: 1rem;
}

.lang-icon {
  height: 1.5rem;
  object-fit: cover;
  width: 1.5rem;
}

.animated-dropdown {
  position: absolute;
  top: 110%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-height: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}

.animated-dropdown.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media(width < 900px) {
  .header-list-wrapper {
    width: 20rem;
  }
}
