<header class="header-wrapper d-flex align-items-center justify-content-end px-3">
  <div class="d-flex align-items-center justify-content-center">
    <div style="min-width: 8rem" class="d-flex align-items-center justify-content-center me-1">
      @if (_themeService.currentTheme() === ThemeType.Dark) {
        <img class="lang-icon me-1" alt="Switcher icons" src="moon.png">
      }
      @if (_themeService.currentTheme() === ThemeType.Light) {
        <img class="lang-icon me-1" alt="Switcher icons" src="sun.png">
      }
      <app-theme-switcher></app-theme-switcher>
    </div>

  </div>
  <div #langDiv class="me-1" style="position: relative;">
    <button type="button" class="lang-button-setup d-flex justify-content-center align-items-center p-2 me-4"
            (click)="toggleLangSection()">
      <img class="lang-icon me-2" alt="Country image"
           [src]="_langChangeService.currentLanguage() === 'pl'
    ? 'poland.png'
    : 'united-kingdom.png'"
      />
      <p>{{ 'headerComponent.headerLangButtonLabel' | translateFallback: 'Język' }}</p>
    </button>
    @if (_langChangeService.isLangListOpen()) {
      <div class="lang-list-wrapper d-flex flex-column p-2"
           [@expandCollapse]="_langChangeService.isLangListOpen() ? 'expanded' : 'collapsed'">
        @for (item of langOptionList; track $index) {
          <button type="button" class="d-flex align-items-center justify-content-start lang-button mt-1 mb-1"
                  (click)="_langChangeService.onChangeLang(item.id)">
            <img class="lang-icon me-2" [alt]="item.alt"
                 [src]="item.img"
            />
            <p style="margin: 0 0 0 0;">
              {{ item.label | translateFallback: item.fallback }}
            </p>
          </button>
        }
      </div>
    }
  </div>
  <div #optionDiv style="position: relative;">
    <button type="button" class="burger-button"
            (click)="toggleHeaderMenu()">
      <i class="bi bi-list burger-icon"></i>
    </button>
    @if (isHeaderListOpen()) {
      <div class="header-list-wrapper d-flex flex-column p-3"
           [@expandCollapse]="isHeaderListOpen() ? 'expanded' : 'collapsed'">
        @for (item of menuOptionList; track $index) {
          <button type="button" class="d-flex menu-buttons mt-2 mb-2" (click)="routeToSelectedPage(item.route)">
            <img class="lang-icon me-3" alt="Menu options"
                 [src]="item.icon"/>
            <span>
              {{ item.label | translateFallback: item.fallback }}
            </span>
          </button>
        }
      </div>
    }
  </div>
</header>




